// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#welcome {
  text-align: center;
  margin: 5% 0 10% 0;
}
  #welcome h1 {
    font-size: 5em;
    color: #337AB7;
  }

#password_req {
  font-size: .7em;
}
